<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Estilos CSS para tornar a página responsiva para dispositivos móveis */
        /* ... */
    </style>
</head>
<body>
    <h1>Cadastro</h1>
    <form method="POST">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required><br>
        <label for="email">Email:</label>
        <input type="email" name="email" required><br>
        <label for="data_aniversario">Data de Aniversário:</label>
        <input type="date" name="data_aniversario" required><br>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" required><br>
        <input type="submit" value="Cadastrar">
    </form>
    <a href="/login">Voltar para o Login</a>
</body>
</html>
