<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header">
        <div class="column-header">
            <img src="{{url_for('static',filename='img/foto.png')}}" alt="Foto de Perfil">
            <span>{{data.nome}}</span>
        </div>
        <button onclick="location.href='/'">Sair</button>
    </div>
    <div class="cards">
        <div class="card">
            <h2>Email</h2>
            <p>{{data.email}}</p>
        </div>
        <div class="card">
            <h2>Data Aniversário</h2>
            <p>{{data.data_aniversario}}</p>
        </div>
        <div class="card">
            <h2>Região</h2>
            <p>{{data.regiao_brasil}}</p>
        </div>
    </div>
</body>
</html>

